<div class="dropdown">
	<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
			data-toggle="dropdown">
		3号楼
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation" >
			<a role="menuitem" tabindex="-1" href="#">第一层</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="#">第二层</a>
		</li>
        <li role="presentation" >
			<a role="menuitem" tabindex="-1" href="#">第三层</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="#">第四层</a>
		</li>
        <li role="presentation">
			<a role="menuitem" tabindex="-1" href="#">第五层</a>
		</li>
	</ul>
</div>



<div class="col-md-offset-6">
    <img src="/src/img/floor.png" height="500" width="500" alt="项目信息" />
</div>

<br>
<br>

<div class="top_bar">
    <div>
        <ul id="myTab" class="nav nav-tabs center">
            <li class="active">
                <a href="#detail" data-toggle="tab">
                    火警详情
                </a>
            </li>
            <li>
                <a href="#project" data-toggle="tab">
                    项目信息
                </a>
            </li>
        </ul>
    </div>
</div>


<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="detail">
        <div class="table-responsive">
          <ng2-smart-table [settings]="settings"  [source]="data"  (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
        </div>

    </div>

    <div class="tab-pane fade" id="project">
        <img src="/src/img/project.png" alt="项目信息" />
    </div>
</div>







