<div class="color-line"></div>
<div class="back-link"><a routerLink="/content" class="btn btn-primary">Back to Dashboard</a></div>
<div class="login-container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md"><h1>Fire IOT</h1>
        <small>Honeywell</small>
      </div>
      <div class="hpanel">
        <div class="panel-body">
          <form (ngSubmit)="onSubmit()" #heroForm="ngForm" id="loginForm">
            <div class="form-group"><label class="control-label" for="username">Username</label> 
            <input type="text" placeholder="example@gmail.com" title="Please enter you username" required
              [(ngModel)]="username" value="" name="username" id="username" class="form-control"> 
              <span class="help-block small">Your unique username to app</span></div>

            <div class="form-group"><label class="control-label" for="password">Password</label> 
            <input type="password" title="Please enter your password" placeholder="******" required
              [(ngModel)]="password" value="" name="password" id="password" class="form-control">           
              <span class="help-block small">Yur strong password</span></div>

            <div class="form-group"><label class="control-label" for="verifycode">Verifycode</label> 
            <input type="text" title="Please enter your code" placeholder="1234" required
              [(ngModel)]="verifycode" value="" name="verifycode" id="verifycode" class="form-control">   

              <img ng-style="height:26px;width:50px;" id="codeImg" (click)="onClickImg()" alt="点击更换" title="点击更换" src={{img_src}}>
              <span class="help-block small">Please input the code1</span></div>

            <div class="checkbox"><input icheck type="checkbox" ng-model="remember"
                                         ng-init="remember = true"> Remember login 
            <p class="help-block small">(if this is a private computer)</p></div>
            <button type="submit" class="btn btn-success btn-block">Login</button>
            <a class="btn btn-default btn-block" href="#">Register</a>
            </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center"><strong>HOMER</strong> - AngularJS Responsive WebApp <br> 2017 Copyright
      Company Name
    </div>
  </div>
</div>
