.indoor-back-no-config {
    background: url("../../../src/img/floor.png") no-repeat 4px 4px;
    width: 500px;
    height: 500px;
}

.indoor-back-config {
    background: url("../../../src/img/indoor.png") no-repeat 4px 4px;
    width: 500px;
    height: 500px;
}

t
.module-table {
    width: inherit;
    height: inherit;
    border-collapse: inherit;
}

.module-table > tbody > tr > td {
    padding: 0px !important;
}

.module-table > tbody {
    border: 0px !important;
}

.module-table-tr {
    width: inherit;
    height: 10%;
    border: 1px solid transparent !important;
    align-items: center;
    border-collapse: inherit;
}

.module-table-td {
    padding: 0 !important;
    width: 25px;
    height: 25px;
    align-self: center;
    vertical-align: middle;
    border: 1px solid transparent !important;
}
.show_state_01{
    background-color: red !important;
}
.show_state_02{
    background-color: pink !important;
}
.show_state_03{
    background-color: blue !important;
}
.btn-01, .btn-02, .btn-03, .btn-04, .btn-05, .btn-06, .btn-07, .btn-08, .btn-09, .btn-10 {
    border: 0px !important;
    border-radius: 20px;
    background-color: blue;
    position: relative;
}
.btn-01.active, .btn-02.active, .btn-03.active, .btn-04.active, .btn-05.active .btn-06.active, .btn-07.active, .btn-08.active, .btn-09.active, .btn-10.active,
.btn-01:hover, .btn-02:hover, .btn-03:hover, .btn-04:hover, .btn-05:hover .btn-06:hover, .btn-07:hover, .btn-08:hover, .btn-09:hover, .btn-10:hover{
    border: 0px !important;
}

.btn-01 {
    left: 50px;
    top: 50px;
}

.btn-02 {
    left: 50px;
    top: 100px;
}

.btn-03 {
    left: 240px;
    top: 60px;
}

.btn-04 {
    left: 100px;
    top: 140px;
}

.btn-05 {
    left: -100px;
    top: 180px;
}

.btn-06 {
    left: -40px;
    top: 420px;
}

.btn-07 {
    left: 30px;
    top: 250px;
}

.btn-08 {
    left: 150px;
    top: 340px;
}

.btn-09 {
    left: -150px;
    top: 340px;
}

.btn-10 {
    left: 50px;
    top: 380px;
}

.table > tbody > tr > td {
    border-top: 0px;
}

.panel-item-small-label {
    font-size: 8px;
    padding-right: 10px;
    padding-left: 5px;
}

.panel-item-detail-content {
    font-size: 10px;
}

.table-item {
    border: 1px solid transparent !important;
}

.panel-item-contract {
    border: 1px solid transparent !important;
    padding: 3px 30px;
}
.popover.bottom.in{
    max-width: 800px !important;
    width: 800px;
}

:host >>> .popover {
    color: #000;
    max-width: 100%;
}


