<div class="content">
    <!--没有配置的-->
    <div class="indoor-back-no-config" *ngIf="!configurated">
    </div>

    <!--配置过的-->
    <div class="indoor-back-config" *ngIf="configurated">
        <button class="btn btn-info btn-xs btn-01" [class.selectToShowPop]="isShowPop(1)" [popover]="myPopover"
                [disabled]="!isShowPop(1)" (click)="setEventItem(1)">01
        </button>
        <button class="btn btn-info btn-xs btn-02" [class.selectToShowPop]="isShowPop(2)" [popover]="myPopover"
                [disabled]="!isShowPop(2)" (click)="setEventItem(2)">02
        </button>
        <button class="btn btn-info btn-xs btn-03" [class.selectToShowPop]="isShowPop(3)" [popover]="myPopover"
                [disabled]="!isShowPop(3)" (click)="setEventItem(3)">03
        </button>
        <button class="btn btn-info btn-xs btn-04" [class.selectToShowPop]="isShowPop(4)" [popover]="myPopover"
                [disabled]="!isShowPop(4)" (click)="setEventItem(4)">04
        </button>
        <button class="btn btn-info btn-xs btn-05" [class.selectToShowPop]="isShowPop(5)" [popover]="myPopover"
                [disabled]="!isShowPop(5)" (click)="setEventItem(5)">05
        </button>
        <button class="btn btn-info btn-xs btn-06" [class.selectToShowPop]="isShowPop(6)" [popover]="myPopover"
                [disabled]="!isShowPop(6)" (click)="setEventItem(6)">06
        </button>
        <button class="btn btn-info btn-xs btn-07" [class.selectToShowPop]="isShowPop(7)" [popover]="myPopover"
                [disabled]="!isShowPop(7)" (click)="setEventItem(7)">07
        </button>
        <button class="btn btn-info btn-xs btn-08" [class.selectToShowPop]="isShowPop(8)" [popover]="myPopover"
                [disabled]="!isShowPop(8)" (click)="setEventItem(8)">08
        </button>
        <button class="btn btn-info btn-xs btn-09" [class.selectToShowPop]="isShowPop(9)" [popover]="myPopover"
                [disabled]="!isShowPop(9)" (click)="setEventItem(9)">09
        </button>
        <button class="btn btn-info btn-xs btn-10" [class.selectToShowPop]="isShowPop(10)" [popover]="myPopover"
                [disabled]="!isShowPop(10)" (click)="setEventItem(10)">10
        </button>
    </div>

    <!--Popover content -->
    <popover-content #myPopover placement="bottom" [closeOnClickOutside]="true">
        <div>
            <table class="table tab panel-item-contract">
                <tr class="table-item">
                    <td class="panel-item-small-label">上报时间:</td>
                    <td class="panel-item-detail-content">{{EventItem.createTime}}</td>
                    <td class="panel-item-small-label">设备名称:</td>
                    <td class="panel-item-detail-content">{{EventItem.deviceLabel}}</td>
                </tr>
                <tr class="table-item">
                    <td class="panel-item-small-label">持续时间:</td>
                    <td class="panel-item-detail-content">{{EventItem.durationTime}}</td>
                    <td class="panel-item-small-label">设备编号:</td>
                    <td class="panel-item-detail-content">{{EventItem.deviceId}}</td>
                </tr>
                <tr class="table-item">
                    <td class="panel-item-small-label">处理状态:</td>
                    <td class="panel-item-detail-content">{{getConfimStr()}}</td>
                </tr>
                <tr class="table-item">
                    <td class="panel-item-small-label">位置:</td>
                    <td class="panel-item-detail-content">{{EventItem.location}}</td>
                </tr>
            </table>
        </div>
    </popover-content>


</div>

