<div *ngIf="condition1">

    <div class="top_bar">
        <div class="container top-nav">
            <div class="row">
                <ul id="myTab" class="nav nav-tabs center">
                    <li class="active">
                        <a href="#now" data-toggle="tab">
                            实时火警
                        </a>
                    </li>
                    <li>
                        <a href="#previous" data-toggle="tab">
                            历史火警
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="now">
            <div class="content">
                <div class="content-title">
                    <label class="content-title-title">当前有<b class="number_building">{{cellNmuber}}</b>个楼宇发生了<b class="number_fire">
                        {{eventNumber}} </b>条火警</label>
                    <div class="btn-group change-item-state" role="group" aria-label="...">
                        <input type="button" class="btn btn-default change-item-list active" src="/src/img/green.png"
                               (click)="onClickView()">
                        <input type="button" class="btn btn-default change-item-card" src="/src/img/green.png"
                               (click)="onClickView()">
                    </div>
                </div>

                <div class="panel panel-default panel-fire" *ngFor="let post of postList_dashboard">
                    <div class="panel-heading panel-fire-head">
                        <div class="panel-heading-left">
                            <img class="panel-title-image" src="/src/img/arrow-down.png"/>
                            <label class="panel-title-hotel">{{post.cellName}}</label>
                            <label class="panel-title-line"> | </label>
                            <label class="panel-title-num-confirm">{{post.totalFireEvent}}</label>
                            <label class="panel-title-confirm">未确认</label>
                        </div>
                        <div class="panel-heading-right" *ngFor="let pi of post.listPi">
                            <ul class="nav navbar-nav no-borders">
                                <li class="dropdown panel-heading-right-contract">
                                    <div>
                                        <ul class="list-group panel-heading-right-contract-detail">
                                            <li class="list-group-item panel-heading-right-contract-name">{{pi.userName}}</li>
                                            <li class="list-group-item panel-heading-right-contract-rule">物业值班人</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown panel-heading-right-connect">
                                    <button type="button" class="btn dropdown-toggle"
                                            id="panel-heading-right-connect-btn"
                                            data-toggle="dropdown">
                                        {{pi.mobile}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu panel-heading-right-connect-list" role="menu">
                                        <li role="presentation" class="panel-heading-right-connect-list-item">
                                            <a role="menuitem" tabindex="-1">986338838</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown panel-heading-right-more" (click)="onClickCell()">
                                    <span class="glyphicon glyphicon-option-horizontal"></span>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <table class="table tab panel-item-contract" *ngFor="let build of post.buildWithFireEvent">
                        <thead>
                        <tr>
                            <td class="table-fire-list-title">3号楼{{build.buildName}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <div class="table-fire-list-div" *ngFor="let device of build.fireDeviceEventList">
                            <tr class="table-item" *ngFor="let event of device.fireDeviceEventList">
                                <td class="table-fire-list-time">{{event.createTime}}</td>
                                <td class="table-fire-list-confirmflag" [class.confirm-item-state]="changeItemColor(event.confirmFlag)">
                                    {{event.confirmFlag=="N"?"未确认":"已确认"}}
                                </td>
                                <td class="table-fire-list-message-type-id">{{device.deviceLabel}}</td>
                                <td class="table-fire-list-message-type-detail">{{device.deviceType}}</td>
                                <td class="table-fire-list-event-id">{{device.deviceCode}}</td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="previous">
            <!--<p>当前有21个楼宇发生了86条火警</p>-->
        </div>
    </div>

</div>


<div *ngIf="condition2">
    <div>
        <button type="button" class="btn btn-default" (click)="onClickBack()"><</button>
    </div>
    <div class="dropdown float-num-list">
        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                data-toggle="dropdown">
            3号楼
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdownMenu1-list" role="menu">
            <li role="presentation" class="dropdownMenu1-list-item">
                <a role="menuitem" tabindex="-1" (click)="onClickFloor('1')">第一层 <span class="caret"></span></a>
            </li>
            <li role="presentation" class="dropdownMenu1-list-item">
                <a role="menuitem" tabindex="-1" (click)="onClickFloor('2')">第二层 <span class="caret"></span></a>
            </li>
            <li role="presentation" class="dropdownMenu1-list-item">
                <a role="menuitem" tabindex="-1" (click)="onClickFloor('3')">第三层 <span class="caret"></span></a>
            </li>
            <li role="presentation" class="dropdownMenu1-list-item">
                <a role="menuitem" tabindex="-1" (click)="onClickFloor('4')">第四层 <span class="caret"></span></a>
            </li>
            <li role="presentation" class="dropdownMenu1-list-item">
                <a role="menuitem" tabindex="-1" (click)="onClickFloor('5')">第五层 <span class="caret"></span></a>
            </li>
        </ul>
    </div>


    <div class="col-md-offset-3 indoor-image-show">
        <!--<img src="/src/img/floor.png" height="500" width="500" alt="项目信息"/>-->
        <app-indoor [configurated]="showConfig" [eventItems]='eventItems'></app-indoor>

    </div>

    <br>
    <br>

    <div class="top_bar">
        <div>
            <ul id="myTab" class="nav nav-tabs center">
                <li class="active">
                    <a href="#detail" data-toggle="tab">
                        火警详情
                    </a>
                </li>
                <li>
                    <a href="#project" data-toggle="tab">
                        项目信息
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="detail">
            <!--<div class="table-responsive">
              <ng2-smart-table [settings]="settings"  [source]="data"  (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
            </div>-->
            <div class="vertical-scroll">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>控制器发生时间</th>
                        <th>系统收到时间</th>
                        <th>持续时长</th>
                        <th>处理状态</th>
                        <th>设备类型</th>
                        <th>设备名称</th>
                        <th>设备编号</th>
                        <th>设备位置</th>
                        <th>系统</th>
                        <th>信息描述</th>
                    </tr>
                    </thead>

                    <tbody *ngFor="let item of postList_detail">
                    <tr *ngFor="let event of item.fireDeviceEventList">
                        <td>{{ event.createTime }}</td>
                        <td>2017/1/21{{ event.eventTakeTime }}</td>
                        <td>1分22秒</td>
                        <td>{{ event.confirmFlag=="N"?"未确认":"已确认" }}</td>
                        <td>{{ item.deviceType }}</td>
                        <td>{{ item.deviceLabel }}</td>
                        <td>{{ item.deviceId }}</td>
                        <td>{{ item.buildName }}{{ item.zoneName }}</td>
                        <td>{{ event.messageBigType }}</td>
                        <td>{{ event.messageTypeDetail }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="project">
            <div class="container">
                <div class="col-md-12 info-container">
                    <div class="hpanel">
                        <div class="panel-body float-e-margins panel-body-info">
                            <div class="row panel-container">
                                <div class="col-md-2 row-panel-first">
                                    <img src="cinqueterre.jpg" class="img-responsive img-hotel" alt="大连希尔顿酒店"
                                         width="100px" height="80px">
                                    <h6 class="panel-item-title"><strong>大连希尔顿酒店</strong></h6>
                                    <small class="panel-item-small-label">酒店位于繁华的商业中心--武林广场东侧，是一家挂牌五星的豪华商务酒店</small>
                                </div>
                                <div class="col-md-3 row-panel row-panel-second">
                                    <div class="hpanel">
                                        <div class="panel-heading panel-heading-title">
                                        <span><img class="side-menu-icon"
                                                   src="/src/img/arrow-down.png"><strong
                                                class="panel-item-detail-title">建筑信息</strong></span>
                                        </div>
                                        <div class="panel-body item-panel-body">
                                            <ul class="list-group">
                                                <li class="list-group-item item-panel-list-item">
                                                    <span><small
                                                            class="panel-item-small-label">用户地址:&emsp;</small><label
                                                            class="panel-item-detail-content">天府新区武林路56号</label></span>
                                                </li>
                                                <li class="list-group-item item-panel-list-item">
                                                    <span><small
                                                            class="panel-item-small-label">用户类别:&emsp;</small><label
                                                            class="panel-item-detail-content">酒店 餐饮</label></span>
                                                </li>
                                                <li class="list-group-item item-panel-list-item">
                                                    <span><small
                                                            class="panel-item-small-label">建筑级别:&emsp;</small><label
                                                            class="panel-item-detail-content">12797 m2</label></span>
                                                </li>
                                                <li class="list-group-item item-panel-list-item">
                                                    <span><small
                                                            class="panel-item-small-label">施工单位:&emsp;</small><label
                                                            class="panel-item-detail-content">快科施工公司</label></span>
                                                </li>
                                                <li class="list-group-item item-panel-list-item">
                                                    <span><small class="panel-item-small-label">建筑物结果:</small><label
                                                            class="panel-item-detail-content">钢筋</label></span>
                                                </li>
                                                <li class="list-group-item item-panel-list-item">
                                                    <span><small class="panel-item-small-label"></small><label
                                                            class="panel-item-detail-content"></label></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 row-panel row-panel-third">
                                    <div class="hpanel">
                                        <div class="panel-heading panel-heading-title">
                                        <span><img class="side-menu-icon"
                                                   src="/src/img/arrow-down.png"><strong
                                                class="panel-item-detail-title">项目信息</strong></span>
                                        </div>
                                        <div class="panel-body item-panel-body">
                                            <ul class="list-group">
                                                <li class="list-group-item item-panel-list-item">
                                                    <span><small
                                                            class="panel-item-small-label">项目名称:&emsp;</small><label
                                                            class="panel-item-detail-content">大连希尔顿酒店1期</label></span>
                                                </li>
                                                <li class="list-group-item item-panel-list-item">
                                                    <span><small
                                                            class="panel-item-small-label">项目编号:&emsp;</small><label
                                                            class="panel-item-detail-content">879798-798</label></span>
                                                </li>
                                                <li class="list-group-item item-panel-list-item">
                                                    <span><small
                                                            class="panel-item-small-label">项目事件:&emsp;</small><label
                                                            class="panel-item-detail-content">2016/6/12-2017/6/11</label></span>
                                                </li>
                                                <li class="list-group-item item-panel-list-item">
                                                    <span><small
                                                            class="panel-item-small-label">状态:&emsp;&emsp;&emsp;&emsp;</small><label
                                                            class="panel-item-detail-content">快到期</label></span>
                                                </li>
                                                <li class="list-group-item item-panel-list-item">
                                                    <span><small
                                                            class="panel-item-small-label">服务单位:&emsp;</small><label
                                                            class="panel-item-detail-content">上海星海维保公司</label></span>
                                                </li>
                                                <li class="list-group-item item-panel-list-item">
                                                    <span><small class="panel-item-small-label">所属消防局:</small><label
                                                            class="panel-item-detail-content">武林消防局</label></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 row-panel row-panel-fourth">
                                    <div class="hpanel">
                                        <div class="panel-heading panel-heading-title">
                                        <span><img class="side-menu-icon"
                                                   src="/src/img/arrow-down.png"><strong
                                                class="panel-item-detail-title">联系方式</strong></span>
                                        </div>
                                        <table class="table tab panel-item-contract">
                                            <tr class="table-item">
                                                <td class="panel-item-small-label">物业值班人:</td>
                                                <td class="panel-item-detail-content">高亮</td>
                                                <td class="panel-item-small-label">联系电话:</td>
                                                <td class="panel-item-detail-content">18967982768</td>
                                            </tr>
                                            <tr class="table-item">
                                                <td class="panel-item-small-label">物业值班人:</td>
                                                <td class="panel-item-detail-content">张晓军</td>
                                                <td class="panel-item-small-label">联系电话:</td>
                                                <td class="panel-item-detail-content">18967982768</td>
                                            </tr>
                                            <tr class="table-item">
                                                <td class="panel-item-small-label">物业值班人:</td>
                                                <td class="panel-item-detail-content">王红军</td>
                                                <td class="panel-item-small-label">联系电话:</td>
                                                <td class="panel-item-detail-content">18967982768</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

