<div class="container nav-container">
<div id="header">
    <!--<div class="color-line"></div>-->
    <div id="logo" class="light-version">
        <a routerLink="/"><strong id="logo-honeywell">Honeywell</strong><label id="logo-fire">IOT</label></a>
    </div>

    <nav role="navigation">

        <div class="mobile-menu">
            <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse"
                    data-target="#mobile-collapse"><i class="fa fa-chevron-down"></i></button>
            <div class="collapse mobile-navbar" id="mobile-collapse">
                <ul class="nav navbar-nav">
                    <li><a>Login</a></li>
                    <li><a>Logout</a></li>
                    <li><a>Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                <li class="dropdown"><div class="nav-right-time">2017年06月8号 星期四</div></li>
                <li class="dropdown"><img src="/src/img/username.png"></li>
                <li class="dropdown">
                    <div class="btn-group nav-right-contract">
                        <button aria-expanded="false" class="btn btn-info dropdown-toggle nav-right-contract-btn" data-toggle="dropdown">
                            WT
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu nav-right-contract-list">
                            <li>17089276361</li>
                            <li class="divider"></li>
                            <li>17099273742</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--<aside id="menu">
    <div id="navigation" >
        <ul class="nav" id="side-menu">
            <li *ngFor="let router of routers" [ngClass]="{active:router.active}"><a routerLink="{{router.href}}">{{router.name}}</a></li>
        </ul>
    </div>
</aside>-->

<aside id="menu">
    <div id="navigation">
        <ul class="nav" id="side-menu">

            <!--<li *ngFor="let router of routers" [ngClass]="{active:router.active}">
                <a (click)="setActiveByPath(router.href,'')" *ngIf="router.type">
                    <span><img class="side-menu-icon" src="/src/img/navigation_user.png"></span>
                    <span class="nav-label">{{router.name}}</span>
                </a>
                <a (click)="setActiveByPath(router.href,'')" routerLink="{{router.href}}" *ngIf="!router.type">
                    <span><img class="side-menu-icon" src="/src/img/navigation_fire.png"></span>
                    <span class="nav-label">{{router.name}}</span>
                </a>
                <ul class="nav nav-second-level" *ngIf="router.active">
                    <li *ngFor="let route of router.child" (click)="changeChildNavStatis(router.href,route.href)"
                        [ngClass]="{active:route.active}">
                        <a routerLink="{{route.href}}">{{route.name}}</a>
                    </li>
                </ul>
            </li>-->

            <li [ngClass]="{active:routers[0].active}">
                <a (click)="setActiveByPath(routers[0].href,'')" routerLink="{{routers[0].href}}">
                    <span><img class="side-menu-icon" src="/src/img/navigation_1.png"></span>
                    <span class="nav-label">{{routers[0].name}}</span>
                </a>
            </li>
            <li [ngClass]="{active:routers[1].active}">
                <a (click)="setActiveByPath(routers[1].href,'')" routerLink="{{routers[1].href}}">
                    <span><img class="side-menu-icon" src="/src/img/navigation_2.png"></span>
                    <span class="nav-label">{{routers[1].name}}</span>
                </a>
            </li>
            <li [ngClass]="{active:routers[2].active}">
                <a (click)="setActiveByPath(routers[2].href,'')" routerLink="{{routers[2].href}}">
                    <span><img class="side-menu-icon" src="/src/img/navigation_3.png"></span>
                    <span class="nav-label">{{routers[2].name}}</span>
                </a>
            </li>
            <li [ngClass]="{active:routers[3].active}">
                <a (click)="setActiveByPath(routers[3].href,'')" routerLink="{{routers[3].href}}">
                    <span><img class="side-menu-icon" src="/src/img/navigation_4.png"></span>
                    <span class="nav-label">{{routers[3].name}}</span>
                </a>
             </li>

        </ul>
    </div>
</aside>

<div id=wrapper>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
</div>
