.content {
    padding: 0;
    background-color: #F8F8F8;
}
#wrapper {
    background-color: #3c3c3c;
}


#header {
    background-color: #525252;
    display: block;
    height: 62px;
    margin: 0;
    padding: 0;
    position: relative;
}

.light-version {
    background-color: #525252;
    text-align: center
}

#logo {
    float: left;
    width: 180px;
    background-color: #525252;
    height: 56px;
    padding: 10px 0;
    text-align: center
}

#logo-honeywell {
    font-size: 24px;
    color: red;
    padding-right: 10px;
    height: inherit;
    border-right: 1px solid #d0d0d0;
}

#logo-fire {
    color: #a29e9e;
    font-size: 20px;
    padding-left: 10px;
    height: inherit;
}



/*侧边栏 menu*/

#menu {
    width: 180px;
    bottom: 0;
    height: inherit;
    float: left;
    left: 0;
    position: absolute;
    top: 60px;
    transition: all .4s ease 0s;
    background-color: #3c3c3c;
}

#side-menu {
    background: #3c3c3c;
}


#side-menu li a {
    color: #6a6c6f;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 20px
}

#side-menu li {
    border-bottom: 1px solid #3c3c3c
}

#side-menu li:first-child {
    border-top: 1px solid #3c3c3c
}

#side-menu li.active a, #side-menu li:hover a {
    color: #FFFFFF
}

#side-menu li .nav-second-level li a {
    padding: 10px 10px 10px 30px;
    color: #f1f1f1;
    text-transform: none;
    font-weight: 600
}

#side-menu li .nav-second-level a {
    color: #f1f1f1;
    background-color: #3c3c3c
}

#side-menu li.active, #side-menu.nav > li > a:focus, #side-menu.nav > li > a:hover {
    background: #303030;
    color: #FFFFFF;
}

.arrow {
    float: right
}


.side-menu-icon{
    padding-right: 10px;
    padding-bottom: 5px;
}
.nav-right-time{
    align-content: center;
    height: inherit;
    font-size: 10px;
    color: #f8f8f8;
    padding: 20px 0px;
    margin-right: 20px;
}
.nav-right-icon{
    align-content: center;
    padding-top: 20px;
    margin-top: 18px;
    background: #f8f8f8;
    border-radius: 10px;
    width: 20px !important;
    height: 20px !important;
}
.nav-right-contract{
    padding: 15px 0px;
}
.nav-right-contract-btn{
    background-color: #525252;
    border: 0px !important;
    color: #F8F8F8;
    padding: 2px 5px;
}
.nav-right-contract-btn:hover, .nav-right-contract-btn.active{
    background-color: #525252;
}
.navbar-right{
    margin-right: 5px !important;
}
.nav-right-contract-list{
    background-color: #525252;
    padding: 5px 0px !important;
    min-width: 80px !important;
    float: right !important;
    text-align: center;
    color: #F8F8F8;
}